upsilonbattle
upsilon-hub
.env
*.db
.atd_index.db
**/.atd_index.db
upsilon
atd_management_skill/.agent/skills/atd/tools
atd/bin/*
.agent/logs
bin/*
atd/cmd/atd/bin/*
atd/atd
atd/scratch/
webui/webui_bin